<h1 align=center><font size = 5>"Chicago Community Data Analysis and Crime Assessment"</font></h1>

### Introduction
Using this Python notebook I will:
##### 1.Understand three Chicago datasets
##### 2.Load the three datasets into three tables in a Db2 database
##### 3.Execute SQL queries to answer assignment questions

In [2]:
conda install -c anaconda ipython-sql

Note: you may need to restart the kernel to use updated packages.

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: ipython-sql

In [7]:
# Step 1: Install and import the required libraries
# You will need pandas, sqlite3, and ipython-sql extensions.

# Install the libraries if not already installed.
# !pip install pandas
# !pip install ipython-sql

# Import the necessary libraries
import pandas as pd
import sqlite3
%load_ext sql

# Step 2: Load CSV data into Pandas DataFrames
# Load the CSV files into Pandas DataFrames
census_data = pd.read_csv("Census_data.csv")
chicago_public_schools = pd.read_csv("Schools.csv")
chicago_crime_data = pd.read_csv("Crime.csv")

# Step 3: Create tables in an SQLite database
# You'll create tables for each of the CSV files.
# Define the database connection and create tables.
conn = sqlite3.connect("FinalDB.db")

# Step 4: Load data into those tables
# Use the Pandas `to_sql` method to load data into the tables.
census_data.to_sql("Census_data", conn, if_exists="replace", index=False)
chicago_public_schools.to_sql("Schools", conn, if_exists="replace", index=False)
chicago_crime_data.to_sql("Crime", conn, if_exists="replace", index=False)

# Step 5: Connect to the database for SQL analysis
# Use the ipython-sql extension to connect to the SQLite database.
%sql sqlite:///FinalDB.db

# Now you can write SQL queries in Jupyter Notebook cells
# to analyze the data from these tables.

# For example:
# %sql SELECT * FROM CENSUS_DATA LIMIT 5;
# %sql SELECT * FROM CHICAGO_PUBLIC_SCHOOLS LIMIT 5;
# %sql SELECT * FROM CHICAGO_CRIME_DATA LIMIT 5;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [8]:
# Use the SQL extension to execute SQL queries
%sql SELECT COUNT(*) AS TotalCrimes FROM CRIME;

 * sqlite:///FinalDB.db
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [10]:
# Use the SQL extension to execute SQL queries
%sql SELECT community_area_name FROM CENSUS_DATA WHERE per_capita_income < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [14]:
# Use the SQL extension to execute SQL queries
%sql SELECT CASE_NUMBER FROM CRIME WHERE YEAR <= (strftime('%Y', 'now') - 18);

 * sqlite:///FinalDB.db
Done.

[('HK587712',),
 ('HK456306',),
 ('HL793243',),
 ('HL149610',),
 ('HK361551',),
 ('HK108680',),
 ('HH486939',),
 ('HJ561433',),
 ('HK350670',),
 ('G256545',),
 ('HH201585',),
 ('G212935',),
 ('HL590300',),
 ('HL409680',),
 ('G662598',),
 ('HL680775',),
 ('HJ308632',),
 ('HK801112',),
 ('HJ652747',),
 ('G040244',),
 ('HJ415128',),
 ('HK728309',),
 ('HL005270',),
 ('HJ678713',),
 ('HJ710634',),
 ('HL177398',),
 ('HH702524',),
 ('HJ672058',),
 ('G376790',),
 ('HL382289',),
 ('HH869886',),
 ('HK454598',),
 ('HH657809',),
 ('HH316735',),
 ('G597730',),
 ('G736811',),
 ('G517474',),
 ('G056330',),
 ('HL353697',),
 ('HL725506',),
 ('HH696901',),
 ('HK815196',),
 ('HK103473',),
 ('HH558381',),
 ('HK498590',),
 ('HL646682',),
 ('G688026',),
 ('HJ466766',),
 ('HL632721',),
 ('HL718742',),
 ('HL240985',),
 ('HJ254782',),
 ('HK561262',),
 ('G419948',),
 ('HL177008',),
 ('HJ639869',),
 ('HL388623',),
 ('HJ294892',),
 ('HL745027',),
 ('G533278',),
 ('HH827769',),
 ('HH639427',),
 ('HK771992',),
 ('HH867007',),
 ('HJ575773',),
 ('G070193',),
 ('HJ724585',),
 ('G198370',),
 ('HJ723825',),
 ('HJ458342',),
 ('HK756778',),
 ('HH741961',),
 ('G140454',),
 ('HK243330',),
 ('HH262924',),
 ('HL613433',),
 ('HH619797',),
 ('HL269210',),
 ('HL567458',),
 ('HL187666',),
 ('HJ527694',),
 ('G134016',),
 ('G496261',),
 ('HJ842548',),
 ('HJ336995',),
 ('HK694552',),
 ('HJ760939',),
 ('HJ563089',),
 ('HH576932',),
 ('HK100758',),
 ('HJ620738',),
 ('HJ557529',),
 ('HL608698',),
 ('G323273',),
 ('HK577020',),
 ('HK162357',),
 ('HH657604',),
 ('G170513',),
 ('HK190723',),
 ('HL141298',),
 ('HL342355',),
 ('HJ624999',),
 ('HJ618818',),
 ('HK369511',),
 ('HL703172',),
 ('HL319228',),
 ('HL331611',),
 ('HH402660',),
 ('G577663',),
 ('HL660560',),
 ('HJ388435',),
 ('HJ532105',),
 ('HH729144',),
 ('HK328402',),
 ('HK743113',),
 ('HH692211',),
 ('HH463517',),
 ('HJ637197',),
 ('HH829588',),
 ('HL315870',),
 ('HJ222529',),
 ('HH343366',),
 ('HH106347',),
 ('HL111533',),
 ('HL414306',),
 ('HL330223',),
 ('HK751265',),
 ('HK348713',),
 ('HH154448',),
 ('G659211',),
 ('G375927',),
 ('HL300450',),
 ('HH149573',),
 ('HK450946',),
 ('HL548996',),
 ('HK481967',),
 ('HJ409442',),
 ('HL254965',),
 ('HL334216',),
 ('HK341632',),
 ('HH859922',),
 ('G611731',),
 ('HJ786817',),
 ('HH352862',),
 ('G652158',),
 ('HH605275',),
 ('HJ513676',),
 ('HH337319',),
 ('HH423186',),
 ('G654957',),
 ('HL131736',),
 ('G629024',),
 ('HL239939',),
 ('HK328522',),
 ('HJ349966',),
 ('G345035',),
 ('HH493814',),
 ('G161722',),
 ('HH208082',),
 ('HL213843',),
 ('HL446401',),
 ('HJ281736',),
 ('HJ580490',),
 ('HJ753917',),
 ('HJ642080',),
 ('HH405177',),
 ('HL472862',),
 ('G326063',),
 ('HL424420',),
 ('HJ776916',),
 ('HJ419340',),
 ('HH329720',),
 ('HJ804627',),
 ('G575031',),
 ('G122095',),
 ('G302291',),
 ('G057394',),
 ('HK749575',),
 ('HK485601',),
 ('HH460583',),
 ('HL611297',),
 ('HH292682',),
 ('G635735',),
 ('HH688935',),
 ('HK677648',),
 ('G158614',),
 ('HK310265',),
 ('HL415544',),
 ('HL266884',),
 ('HK238408',),
 ('HJ747227',),
 ('G021609',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [16]:
# Use the SQL extension to execute SQL queries
%sql SELECT CASE_NUMBER, DATE, BLOCK, PRIMARY_TYPE, DESCRIPTION FROM CRIME WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[('HN144152', '2007-01-26', '050XX W VAN BUREN ST', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [17]:
# Use the SQL extension to execute SQL queries
%sql SELECT DISTINCT PRIMARY_TYPE FROM CRIME WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for each type of school.

In [23]:
%%sql
SELECT "Elementary, Middle, or High School" AS SCHOOL_TYPE, AVG(SAFETY_SCORE) AS AVERAGE_SAFETY_SCORE
FROM SCHOOLS
GROUP BY "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [24]:
# Use the SQL extension to execute SQL queries
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [25]:
# Use the SQL extension to execute SQL queries
%sql SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS CRIME_COUNT FROM CRIME GROUP BY COMMUNITY_AREA_NUMBER ORDER BY CRIME_COUNT DESC LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [27]:
# Use the SQL extension to execute SQL queries
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [28]:
# Use the SQL extension to execute SQL queries
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = 
(SELECT COMMUNITY_AREA_NUMBER FROM CRIME GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]